---
layout: page.pug
title: "Home"
stylesheet: pages/index.css

---

main#main
    h1 Denperidge.com 
    h2.sr-only Introduction
    p Hi! I'm Denperidge
    p Equally a professional programmer as a hobbyist programmer as an idiot


    section
        p.
            (Psst. I coded this website a bit peculiarly.
            You can read about it on #[a(href="/projects/denperidge.com") /projects/denperidge.com]
            if that is something you might be interested in perhaps)

aside
    img.profile-pic(src="https://avatars.githubusercontent.com/u/27348469" alt="My GitHub profile picture: fanart of Dendy from OK K.O. They've got a yellow outfit with green straps, and big round scientist goggles around their eyes. Their brown hair is a bit poofy and reaches the bottom of their head. They're smiling!")
    h2 Links
    p You can find me on...
    ul
        each href, title in links
            li #{title}:&nbsp;
                a(href=href)=href

