doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Example

        link(rel="stylesheet", href="/stylesheet.css")

        if stylesheet
            link(rel="stylesheet", href="/_styles/" + stylesheet)


    body
        header
            a(href="#main").skip-link Skip to main content
            include nav.pug
        
        | !{content}
        